body{
    display: flex;
    justify-content: center;
    
}

.container{
    background-color:cadetblue;
    width: 310px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
    flex-direction: column;
    
    
}
#canvas{
    width: 300px;
    height: 250px;
    background-color: aqua;
    margin-top: 0;
    
}